 .CategoriesPagesActiv {
    color: red;
    cursor: pointer;
}
.CategoriesPages{
    cursor: pointer;
}
.CategoriesPagesWrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}
.CategoriesPagesWrapper span {
    padding-left: 15px;
    font-size: 24px;
}